@font-face {
    font-family: 'Roboto';
    src: url(../assets/Roboto-Regular.ttf) format('truetype');
}

@keyframes text {
    0% {transform: scaleX(0%);
        transform-origin: left}
    40% {transform: scaleX(100%);
        transform-origin: left}
    60% {transform: scaleX(100%);
        transform-origin: right}
    100% {transform: scaleX(0%);
        transform-origin: right}
}

@keyframes text_load {
    0% {color: transparent}
    100% {color: white}
}

@keyframes line {
    0% {transform: scaleX(0);
        transform-origin: left}
    100% {transform: scaleX(1);
        transform-origin: left}
}

#home {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-image: url("../assets/home__bg.png");
    background-position-x: 15%;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

#home .container {
    margin-left: 140px;
}

#home h1 {
    margin: 0;
    color: transparent;
    font-size: 25px;
    font-weight: lighter;
    position: relative;
    animation: text_load 1s cubic-bezier(0.87, 0, 0.13, 1) 3.9s forwards;
}

#home h1::after {
    position: absolute;
    content: '';
    left: 0;
    border-radius: 1vmax;
    height: 2px;
    width: 50%;
    bottom: -10px;
    margin: auto 0;
    background: white;
    transform: scaleX(0);
    animation: line 0.7s cubic-bezier(0.87, 0, 0.13, 1) 3.8s forwards;
}

.bold {
    font-weight: bolder
}

.heading {
    font-size: 100px;
    margin: 10px 0px;
    color: #e8e8e8;
    font-weight: lighter;
}

.heading .title {
    font-weight: 500;
}

.title1 {
    position: relative;
    color: transparent;
    animation: text_load 0.1s ease 3.4s forwards;
}

.title1::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-color: white;
    transform: scaleX(0);
    transform-origin: right;
    animation: text 1.2s cubic-bezier(0.87, 0, 0.13, 1) 3s forwards;
}

.title2 {
    position: relative;
    color: transparent;
    animation: text_load 0.1s ease 3.9s forwards;
}

.title2::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-color: white;
    transform: scaleX(0);
    transform-origin: right;
    animation: text 1.2s cubic-bezier(0.87, 0, 0.13, 1) 3.2s forwards;
}

@media screen and (max-width: 738px) {
    .container h2 {
        font-size: 12vw;
    }
}
@media screen and (max-width: 650px) {
    .container {
        margin-left: 30px !important;
    }
    .container h2 {
        font-size: 14vw !important;
    }
}