#projects {
    height: max-content;
    width: calc(100vw - 85px);
    margin: 0;
    padding: 0;
    margin-left: 85px;
}
.title__proj {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
.title__proj h1 {
    font-size: 13vw;
    color: white;
    font-style: italic;
    display: inline-block;
    vertical-align: middle;
    line-height: 1.1;
}

.title__proj h1 span {
    position:relative;
    display: inline-flex;
    justify-content:center;
    align-items:center;
}

.title__proj img {
    position: absolute;
    width: 60%;
}

.lists__proj {
    width: 100%;
    height: fit-content;
    overflow: unset !important;

}

.stick__hz {
    height: fit-content;

}

.hz__fix {
    height: 90%;
    width: calc(100vw - 120px);
    /*
    display: flex;
    flex-direction: column;
     */
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(30vw, 1fr));
}


.child {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 400px;
    background-color: #0F0F0F;
    left: 0;
    background-position: 50%;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 70px;
    border-radius: 20px;
}
.child > * {
    margin-left: 20px;
}

.child:nth-child(1) {
    background-image: linear-gradient(270deg, rgba(0, 0, 0, 0.34) 10%, rgba(0, 0, 0, 0.89) 90%),url("../assets/webs-thumb.png");
}

.child:nth-child(2) {
    background-image: linear-gradient(270deg, rgba(0, 0, 0, 0.34) 10%, rgba(0, 0, 0, 0.89) 90%),url("../assets/ac12p.png");
}

.child:nth-child(3) {
    background-image: linear-gradient(270deg, rgba(0, 0, 0, 0.34) 10%, rgba(0, 0, 0, 0.89) 90%),url("../assets/apdw.png");
}

.child:nth-child(4) {
    background-image: linear-gradient(270deg, rgba(0, 0, 0, 0.34) 10%, rgba(0, 0, 0, 0.89) 90%),url("../assets/art.png");
}

.child:nth-child(5) {
    background-image: linear-gradient(270deg, rgba(0, 0, 0, 0.34) 10%, rgba(0, 0, 0, 0.89) 90%),url("../assets/rcb.png");
}

.child:nth-child(6) {
    background-image: linear-gradient(270deg, rgba(0, 0, 0, 0.34) 10%, rgba(0, 0, 0, 0.89) 90%),url("../assets/ttt.png");
    background-position: 5%;
}

.child h1 {
    font-size: 40px;
    color: white;
    position: relative;
    margin-bottom: 16px;
}
/*
.child h1::after {
    content: "";
    top: 50%;
    right: -30px;
    width: 10px;
    height: 80px;
    position: absolute;
    background: linear-gradient(180deg, rgba(123, 50, 222, 1) 0%, rgba(240, 46, 120, 1) 100%);
    border-radius: 5px;
}

.child h1::before {
    content: "";
    top: 50%;
    right: -30px;
    width: 10px;
    height: 80px;
    position: absolute;
    background: linear-gradient(180deg, rgba(123, 50, 222, 1) 0%, rgba(240, 46, 120, 1) 100%);
    border-radius: 5px;
    filter: blur(8px);
}
*/
.child p {
    font-size: 17px;
    color: white;
    margin-top: 8px;
}

.child img {
    height: 80%;
    width: max-content;
    border-radius: 6px;
}

.child a {
    width: fit-content;
    margin-top: 20px;
    margin-right: 10px;
    padding: 10px 15px;
    text-decoration: none;
    color: #ffffff;
    border-radius: 6px;
    background: rgba(26, 26, 26, 0.4);
    backdrop-filter: blur(5px);
    border: 1px solid #4b4b4b;
    transition: all 0.4s cubic-bezier(0.87, 0, 0.13, 1);
    position: relative;
    z-index: 3;
}

.child a:hover {
    background: rgba(255, 255, 255, 0.88);
    color: #101010;
}


@media screen and (min-width: 10px) and (max-width: 900px) {
    #projects {
        height: max-content;
    }
    .hz__fix {
        align-items: center;
        grid-template-columns: 1fr;
        width: 100%;
    }
    .child {
        width: calc(100% - 30px) !important;
        margin: 0 15px !important;
        padding-right: 0;
    }
    #stick__hz {
        height: fit-content;
    }
    .child {
        height: fit-content;
        width: 90%;
        margin: 10px 0;
    }
    .child img {
        height: unset;
        width: 80%;
        border-radius: 6px;
    }
}


@media screen and (max-width: 650px) {
    .title__proj h1 {
        font-size: 16vw;
    }

    .title__proj img {
        width: 65%;
    }

    #projects {
        width: 100vw;
        margin: 0;
    }

    .footer h1 {
        margin-left: 40px !important;
        margin-right: 40px !important;
        margin-top: 120px !important;
        font-size: 45px !important;
    }
}